#panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 400px;
  height: 100%;
  /* border: 1px solid; */
}

#leave-btn {
  align-self: center;
  justify-self: flex-end;
  width: 33%;
}

.buttons-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.know-your-type {
  color: darkgray;
  font-size: 1rem;
  text-align: center;
}

.know-your-type .player-color {
  font-size: 1.2rem;
}

.your-turn {
  color: white;
  background-color: #f44336be;
  text-align: center;
  align-self: center;
  width: max-content;
  padding: 10px;
  /* animation: scale 10s infinite ease-in-out; */
}

@keyframes scale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
