#panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 400px;
  height: 100%;
  /* border: 1px solid; */
}

#leave-btn {
  align-self: center;
  justify-self: flex-end;
  width: 33%;
}

.buttons-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.know-your-type {
  color: darkgray;
  font-size: 1rem;
  text-align: center;
}

.know-your-type .player-color {
  font-size: 1.2rem;
}
