.iframes-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.bottom-section {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttons-panel button {
  /* margin: 1rem 0.5rem; */
}
